@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Courgette&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "MervaleScript";
  src: url('/font/MervaleScript.ttf') format('truetype');
}
.cookie {
  font-family: "Cookie", serif;
}

.MervaleScript {
  font-family: "MervaleScript", serif;
}

.courgette {
  font-family: "Courgette", serif;
}

:root {
  --background: black;
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}