@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Courgette&display=swap');
@import url('https://www.cdnfonts.com/mervale-script.font');

@tailwind base;
@tailwind components;
@tailwind utilities;

.cookie {
  font-family: "Cookie", serif;
}
.mervale{
  font-family: "Mervale Script", serif;
}
.courgette{
  font-family: "Courgette", serif;
}
:root {
  --background: black;
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
